body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/84/04/72/8404722f979597218e823dc9c34af7a4.jpg') no-repeat;
  color: #E74E0B;

}

.mask {
  background-color: #FFFCE3;
  opacity:0.4;
}
