
a {
  float: left;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
  transition: 1s;
}

a:hover {
  transform: scale(2);
  color: white;
}

h2 {
  margin: 15px;
}

h1 {
  color: black;
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: 24px;
  color: salmon;
}

 video {
  margin-top: 85px;
}

li {
  width: 33%;
  display: inline-block;
}
.App {
  text-align: center;
}

.body-mask {
  background-color: #FFFCE3;
  opacity: 0.8;
  height: 1500px;;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

#at {
  float: right;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
