
@import url('https://fonts.googleapis.com/css?family=Montserrat|Proza+Libre');

a {
  float: left;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
  transition: 1s;
  font-family: 'Proza Libre', sans-serif;
  cursor: pointer;
  color: #FF6B6B;
}

a:hover {
  transform: scale(1);
  color: #F2D7EE;
}

h3 {
  margin: 5px;
}

h2 {
  display: inline-block;
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
}

h1 {
  display: block;
  text-align: center;
  font-family: 'Proza Libre', sans-serif;
  font-size: 44px;
  color: #292F36;
  margin: 15px 25px;
  cursor: pointer;
}

ul {
  padding-top: 200px;
  padding-bottom: 150px;
}

li {
  width: 40%;
  display: inline-block;
  margin: 20px;
  color: #fff;
}

.fave-link {
  float:right;
  margin: 25px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #FFF;
  padding: 20px;
  color: #292F36;
  top: 0;
  position: fixed;
  width: 100%;
}

.App-footer {
  background-color: #FFF;
  height: 50px;
  padding: 20px;
  color: #292F36;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.App-intro {
  font-size: large;
  color: #292F36;
}

.mdl-textfield__input {
  border: 1px solid #FF6B6B;
  border-bottom: 1px solid #FF6B6B;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 10px 15px;
  padding: 4px 0;
  width: 33%;
  background: 0 0;
  text-align: left;
  color: inherit;
}

.mdl-button--icon {
  color: #F2D7EE;
  margin-bottom: 5px;
}

.mdl-button--icon:hover {
  transform: scale(1.5);
}

.mdl-card {
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.mdl-card__title-text {
  color: #F2D7EE;
  display: inline-block;;
}

#search-glass {
  display: none;
}

.thumbnail {
  display: block;
  margin: 10px auto;
}

.cards {
  background: black;
  color: #F2D7EE;
  height: 360px;
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 1px 2px 2px rgba(0,0,0,.7);
}

@media screen and (max-width: 600px) {

  h1 {
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
  }

  .App-footer {
    height: 25px;
  }

  .App-logo {
    display: none;
  }

  .fave-link {
    float: none;
    margin-left: 100px;
  }

  a {
    margin-left: 10px
  }

  li {
    display: block;
    width: 80%;
  }

  #search-glass {
    display: inline-block;
    cursor: pointer;
  }

  .mdl-button {
   display: none;
  }

  #smiley:checked{
    color: red;
    background-color: red;
  }
}
