@import url('https://fonts.googleapis.com/css?family=Pattaya|Atma');

a {
  float: left;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
  transition: 1s;
  font-family: 'Pattaya', sans-serif;
  cursor: pointer;
}

a:hover {
  transform: scale(1);
  color: white;
}

h3 {
  margin: 5px;
}

h2 {
  display: inline-block;
  font-family: 'Pattaya', cursive;
  font-size: 24px;
}

h1 {
  color: black;
  display: block;
  text-align: center;
  font-family: 'Atma', cursive;
  font-size: 44px;
  color: salmon;
  margin: 15px 25px;
  cursor: pointer;
}

ul {
  padding-top: 200px;
  padding-bottom: 150px;
}

li {
  width: 40%;
  display: inline-block;
  margin: 20px;
  color: #fff;
}

.fave-link {
  float:right;
  margin: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
  margin-right: 50px;
  float: right;
  cursor: crosshair;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  top: 0;
  position: fixed;
  width: 100%;
}

.App-footer {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.App-intro {
  font-size: large;
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mdl-textfield__input {
  border: 1px solid salmon;
  border-bottom: 1px solid salmon;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 10px 15px;
  padding: 4px 0;
  width: 33%;
  background: 0 0;
  text-align: left;
  color: inherit;
}

.mdl-button--icon {
  color: black;
  margin-bottom: 5px;
}

.mdl-button--icon:hover {
  transform: scale(1.5);
}

.mdl-card {
  width: 100%;
  position: static;
  background-color: #FFFCE3;
}

.mdl-card__title-text {
  color: salmon;
  display: inline-block;;
}

#search-glass {
  display: none;
}

@media screen and (max-width: 600px) {

  h1 {
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
  }

  .App-footer {
    height: 25px;
  }

  .App-logo {
    display: none;
  }

  .fave-link {
    float: none;
    margin-left: 100px;
  }

  a {
    margin-left: 10px
  }

  li {
    display: block;
    width: 100%;
  }

  #search-glass {
    display: inline-block;
    cursor: pointer;
  }

  .mdl-button {
   display: none;
  }

  #smiley:checked{
    color: red;
    background-color: red;
  }
}
